.cute_scroll::-webkit-scrollbar
{
	width: 10px;
	background-color: #4d8cbf ;

}

.cute_scroll::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px #3a698f ;
	border-radius: 10px;
	background-color: #4d8cbf  ;
  border-left: 3px solid #61afef;
  border-right: 3px solid #61afef;

}

.cute_scroll::-webkit-scrollbar-thumb
{
	border-radius: 20px;
	-webkit-box-shadow: inset 0 0 px #13232f ;
	background-color: #26465f  ;

}
