hgroup
{
     height: calc(100vh - ((100vh - 100%)/2) - 6.5rem);
     text-align: center;
}

.burning-dice-logo
{
     display: inline-block;
     padding-top: 2.5rem;
     padding-bottom: 2.5rem;
     vertical-align: text-bottom;

     text-align: center;
     height: 80%;
}
.burning-dice-logo img
{
  height: 100%;
  width: auto;
  vertical-align: text-bottom;

}
hgroup .titles
{
  height: 20%;
}
hgroup h1, h2
{
  color: #C2D4E4;
  text-shadow: 1px 1px #121212;
}
hgroup h1
{
  font-size: 5vh;
}
hgroup h2
{
  font-size: 2.5vh;
}
