/* clear margin and padding */
/* https://www.colorhexa.com/121212
/*

     Grey Scale:
      - #09080A
      - #2A2A28
      - #414142
      - #595C60
      - #777C83
      - #9AA5B1
      - #C2D4E4


     orange: #CB6120
     green: #4BAD9F


*/


*{
    margin: 0px;
    padding: 0px;
}
html,body
{
     font-size: 10px;
     background-color: #09080A !important;
     font-size: 10px;
     width: calc(100vw - ((100vw - 100%)/2));
     height: calc(100vh - ((100vh - 100%)/2));
     padding: 2rem;

}
body
{
     border-radius: 5px;
     background-color: #2A2A28 !important;
     width: calc(100vw - ((100vw - 100%)/2) - 3.45rem);
     height: calc(100vh - ((100vh - 100%)/2) - 4rem);
     padding: 0.5rem;
}
ul, #ul, .ul
{
  margin-bottom: 0px;
  list-style-type: none !important;
}
